<h1>Сканирование </h1>

<p>Значение:  <input type="text" [(ngModel)]="newCode" (keyup.enter)="scanNew1()"/>  
    
Всего добавлено <strong>{{ values.length }}</strong>

<div>
<span *ngIf="isValid" class="green" >10 элементов добавлено</span>
</div>

<div>
<table class='table' >
    <thead>
        <tr>
            <th>ШтрихКод</th>
            <th>Кол-во</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let value of values">
            <td>{{ value.code }}</td>
            <td>1</td>
        </tr>
    </tbody>
    </table>
</div>